<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title || "Middleman" %></title>
    <%= stylesheet_link_tag "site" %>
    <%= javascript_include_tag "site" %>
  </head>
  <body>
      <nav class="navbar">
        <a class="logo" href="/">Siddarth R</a>
        <div class="nav-links">
          <a href="https://drive.google.com/file/d/1gFgjXYUp0aFPn_PScJSAdhybLCXu5D9E/view?usp=sharing" target="_blank">Resume</a>
          <a href="https://www.linkedin.com/in/siddarthr/" target="_blank">LinkedIn</a>
        </div>
      </nav>
      <div class="main-container"><%= yield %></div>
  </body>
</html>
